.video-grid{
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 2rem;
}

@media screen and (max-width: 870px) {
    .video-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .video-grid{
        grid-template-columns: 1fr;
    }
}
