.video-card-skeleton{
    width: 100%;
    height: 180px;
}

@media screen and (max-width: 600px) {
    .video-card-skeleton{
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width: 420px) {
    .video-card-skeleton{
        width: 100%;
        height: 200px;
    }
}
